video {
    border: 1px solid black;
    width: 100%;
}

div.page {
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button.capture-btn {
    position: fixed;
    width: 90px;
    height: 90px;
    border-radius: 45px;
    top: 85%;
}

div.floating-btns {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 260px;
    height: 90px;
    top: 85%;
}

button.floating-btn {
    width: 45%;
    height: 100%;
    border-radius: 12px;
}

button.action-btn {
}

button.cancel-btn {
}
